body {
    background-color:#efefef;
}

.main{
    margin:30px;
    background-color: white;
}
.btn-publish {

    float: right;
    margin-bottom: 20px;

}
.media-object {
    width:55px;
    height:55px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;

}

.profile .nav{
    margin-top:15px;
}

